:root
{
    --menu-height: 12vh;
}
header
{
    background-color: #ffffff;
    height: var(--menu-height);
    /* height: 130px; */
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    line-height: var(--menu-height);
    margin: 0 !important;
    opacity: .9;
}

header #logo
{
    position: relative;
    height: calc(var(--menu-height) - 4vh);
    margin-top: 2vh;
}

header .menu
{
    display: flex;
    flex-direction: row;
}

header .menu-right
{
    justify-content: flex-end;
}

header .menu-m
{
    justify-content: space-between;
}

header .menu-b
{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    background-color: #43757D;
    justify-content: center;
    transition: .3s all;
}

header .menu-m #logo
{
    margin-top: 0;
}

header .menu-b:hover
{
    background-color: #547a80;
}

header .menu .elem
{
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;

    color: #43757D;

    text-transform: uppercase;
    font-size: 1.1rem;
    
    transition: .3s all;
}

header .menu-m .elem
{
    font-size: .9rem;
}

header .menu-b .elem
{
    color: #ffffff;
}

header .menu-right .elem
{
    margin: 0;
}

header .menu .elem-btn
{
    border: 2px solid #43757D;
    border-radius: 15px;
    height: calc(var(--menu-height) - 4vh);
    display: inline-block;
    margin-top: 2vh;
    line-height: calc(var(--menu-height) - 4vh);
}

header .menu .elem-btn:hover
{
    background-color: #43757D !important;
    color: #ffffff;
}

header .menu .elem:hover
{
    background-color: #f3f3f3;
}

header .menu-b .elem:hover
{
    background: none !important;
}