:root
{
    --menu-height: 12vh;
    --menu-sub: 4vh;
}

@media screen and (min-width: 1500px)
{
    :root
    {
        --menu-height: 8vh;
    }
}

@media screen and (max-width: 768px)
{
    :root
    {
        --menu-height: 75px;
        --menu-sub: 25px;
    }
}

header
{
    background-color: #ffffff;
    height: var(--menu-height);
    /* height: 130px; */
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    line-height: var(--menu-height);
    margin: 0 !important;
    opacity: .9;
    z-index: 10000;
}
@media screen and (max-width: 768px)
{
    header {
        border-bottom-right-radius: 35px;
    }
}

header #logo
{
    position: relative;
    height: calc(var(--menu-height) - var(--menu-sub));
}

header .menu
{
    display: flex;
    flex-direction: row;
}

header .menu-right
{
    justify-content: flex-end;
}

header .menu-m
{
    justify-content: space-between;
}

header .menu-b
{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: var(--menu-height);
    line-height: var(--menu-height);
    background-color: #ffffff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    justify-content: center;
    transition: .3s all;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

header .menu-m #logo
{
    margin-top: 0;
}

header .menu .elem
{
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 25px;
    padding-right: 25px;

    color: #43757D;

    text-transform: uppercase;
    font-size: 1.1rem;
    
    transition: .3s all;
}

header .menu-m .elem
{
    font-size: .9rem;
}

header .menu .elem-btn-primary
{
    border-radius: 15px;
    height: calc(var(--menu-height) - var(--menu-sub));
    display: inline-block;
    margin-top: 2vh;
    line-height: calc(var(--menu-height) - var(--menu-sub));
    background-color: #9ED4DC;
    color: #ffffff;
    border-radius: 35px;
    box-shadow: rgb(158, 212, 220) 0 0 6px;
    overflow: hidden;
    position: relative;
}

header .menu .elem-btn-primary::before
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(151deg, rgba(104,183,195,1) 0%, rgba(141,135,214,1) 99%);
    height: 100%;
    width: 100%;
    z-index: -1;
}

header .menu .elem-btn-primary:hover
{
    background: none;
}

header .menu .elem-btn-secondary
{
    border-radius: 15px;
    height: calc(var(--menu-height) - var(--menu-sub));
    display: inline-block;
    margin-top: 2vh;
    line-height: calc(var(--menu-height) - var(--menu-sub));
    background-color: #E7F2F3;
    color: #43757D;
    border-radius: 35px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

header .menu .elem-btn-home img
{
    height: 3vh;
}

header .menu .elem-btn-secondary:hover
{
    box-shadow: #D2D2D2 0 0 6px;
}
header .menu-b .elem-btn-secondary
{
    height: calc(var(--menu-height) - var(--menu-sub));
    display: block;
    line-height: calc(var(--menu-height) - var(--menu-sub));
    background-color: #E7F2F3;
    color: #43757D;
    border-radius: 25px;
    width: calc(75vw - 50px);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0;
}

header .menu-b .elem-btn-secondary:hover
{
    box-shadow: #D2D2D2 0 0 6px;
}

header .menu-b #facebook
{
    background-color: #3B5998;
    height: calc(var(--menu-height) - var(--menu-sub));
    line-height: calc(var(--menu-height) - var(--menu-sub));
    width: calc(var(--menu-height) - var(--menu-sub));
    border-radius: 25px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    text-align: center;
}
header .menu-b .elem-btn-home
{
    height: calc(var(--menu-height) - var(--menu-sub));
    line-height: calc(var(--menu-height) - var(--menu-sub));
    width: calc(var(--menu-height) - var(--menu-sub));
    border-radius: 25px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    text-align: center;
    align-items: center;
    padding: 0;
}
header .menu-b .elem-btn-home img
{
    height: 20px;
}
header .menu-b #facebook #facebook-logo
{
    height: 20px;
}