body
{
    overflow: scroll;
}
.content
{
    position: absolute;
    left: 250px;
    width: calc(100vw - 250px);
    min-height: 100vh;
    padding-top: var(--menu-height);
    background-color: #F9F9F9;
}

.tb-case h3
{
    color: #43757D;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.edit
{
    position: relative;
    height: 30px;
    margin-top: 15px;
    text-align: center;
    color: #43757D;
    border-radius: 15px;
    line-height: 30px;
    box-sizing: border-box;
}

.edit:hover{
    background-color: #dbe5e6;
}
.delete
{
    position: relative;
    height: 30px;
    margin-top: 15px;
    text-align: center;
    color: #DC9E9E;
    border-radius: 15px;
    line-height: 30px;
    box-sizing: border-box;
}
.delete button
{
    color: #DC9E9E;
    background: none;
    border: none;
}

.delete:hover{
    background-color: #dbe5e6;
}