.tb-content
{
    background-color: #ffffff;
    position: absolute;
    padding: 25px;
    border-radius: 25px;
    margin-top: 50px;
    left: 50px;
    font-family: Arial, sans-serif;
}

.tb-title
{
    font-size: 1.2rem;
    color: #1D1D1D;
    height: 50px;
    border-bottom: 2px solid #E7F2F3;
}

.tb-case
{
    border-bottom: 2px solid #E7F2F3;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.tb-case:hover
{
    /* box-shadow: 0 0 10px #e7e7e7; */
    background-color: #E7F2F3;
    cursor: pointer;
}

.tb-col
{
    padding-left: 10px;
    padding-right: 25px;
    width: 300px;
}