.tb-content
{
    background-color: #ffffff;
    position: absolute;
    padding: 25px;
    border-radius: 25px;
    margin-top: 50px;
    left: 50px;
    font-family: Arial, sans-serif;
}

.tb-title
{
    font-size: 1.2rem;
    color: #1D1D1D;
    height: 50px;
    border-bottom: 2px solid #E7F2F3;
}

.tb-case
{
    border-bottom: 2px solid #E7F2F3;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.tb-at-case
{
    border-bottom: 2px solid #E7F2F3;
    height: auto;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.tb-case:hover
{
    background-color: #E7F2F3;
    cursor: pointer;
}

.tb-bg-case:hover
{
    background-color: #E7F2F3;
    cursor: pointer;
}

.tb-col
{
    padding-left: 10px;
    padding-right: 25px;
    width: 200px;
}

.tb-lg-col
{
    padding-left: 10px;
    padding-right: 25px;
    width: 300px;
}

.tb-sm-col
{
    padding-left: 10px;
    padding-right: 25px;
    width: 125px;
}

.tb-search
{
    display: inline-block;
    position: absolute;
    right: 25px;
}

.span-f
{
    margin-top: 8px;
    display: inline-block;
}

.edit
{
    position: relative;
    height: 30px;
    margin-top: 15px;
    text-align: center;
    color: #43757D;
    border-radius: 15px;
    line-height: 30px;
    box-sizing: border-box;
}

.edit:hover{
    background-color: #dbe5e6;
}

.delete
{
    position: relative;
    height: 30px;
    margin-top: 15px;
    text-align: center;
    color: #DC9E9E;
    border-radius: 15px;
    line-height: 30px;
    box-sizing: border-box;
}
.delete button
{
    color: #DC9E9E;
    background: none;
    border: none;
}

.delete:hover{
    background-color: #dbe5e6;
}

.status
{
    position: relative;
    height: 30px;
    margin-top: 15px;
    text-align: center;
    border-radius: 15px;
    line-height: 25px;
    box-sizing: border-box;
}

.pay
{
    color: #58a158;
    border: 2px solid #58a158;
}

.notpay
{
    color: #dd6161;
    border: 2px solid #dd6161;
}

.status:hover{
    background-color: #dbe5e6;
}